#ignore all
*

#unignore all directiories
!/**/

#unignore all extentions
!*.*

#unignore topologies
!topologies/*

!obj/

#ignore .o
**.o

#ignore gcc procompiled header
**.gch

#ignore valgrind core dumps
vgcore.*

#ignore test files
test_*.*

#ignore self dir
self/*
/.vs/CIDA/FileContentIndex
/.vs/CIDA/v17
/.vs
